header
  .header-position
    h1.logo Rich Cordero

    nav.site-nav
      ul
        li: a(href="#about") About
        li: a(href="#projects") Projects
        li: a(href="#writing") Writing
        li: a(href="#contact") Contact



    a(href="mailto:rich@gmail.com").email-link +email me
