mixin nav-content()
  ul
    li: a(href="#about") About
    li: a(href="#blog") Blog
    li: a(href="#projects") Projects
    li: a(href="#contact") Contact

.mobile-nav
  +nav-content()

header
  .header-position
    h1.logo Rich Cordero

    nav.site-nav
      +nav-content()

    a(href="mailto:rich@corderophilosophy.com").email-link +email me

    .mobile-nav-toggle: span
