mixin nav-content()
  ul
    li: a(href="{{site.url}}/#about") About
    li: a(href="{{site.url}}/blog") Blog
    li: a(href="{{site.url}}/#projects") Projects
    li: a(href="{{site.url}}/#contact") Contact

.mobile-nav
  +nav-content()

header
  .header-position
    h1.logo Rich Cordero

    nav.site-nav
      +nav-content()

    a(href="mailto:rich@corderophilosophy.com").email-link +email me

    .mobile-nav-toggle: span
