section.writing
  .flex.flex--center
    .col-50.flex.flex--center
      .col-1
        p.home-lead.outdented ...here are some things that Rich has written...
        a(href="https://medium.com/@rich.cordero").home-cta Read more on Medium

    .col-50.writing-strip
      .row.row-a.flex
        .col
        .col
        .col
        .col

        .col
        .col
        .col
        .col
