section.projects
  .flex.flex--center
    .col-50.flex.flex--center
      .col-1
        p.home-lead.outdented ...here are some things that Rich has made...
        a(href="https://github.com/corderophilosophy").home-cta Visit GitHub

    .col-50.flex.projects-strip
        .col 1
        .col 2
        .col 3
        .col 4
        .col 5
        .col 6
        .col 7
        .col 8
