section.contact#contact
  .flex.flex--space-around
    .col-1
      a(href="mailto:rich@corderophilosophy.com&subject=Hi%20Rich!").contact-link
        h3 e-mail Rich!
    .col-1
      a(href="https://twitter.com/intent/tweet?screen_name=corderophi678&text=Hi%20Rich!").tweet-button
        h3 Say 'Hi!' on Twitter
