section.projects
  .flex.flex--center
    .col-1.order-first
      .project-strip
        
    .col-1
      p.home-lead.outdented ...and here are some things he's made...
      a(href="http://codepen.io/corderophilosophy").home-cta See more at Codepen.io
