.bloglayout
  flex: 1
  display: flex
  flex-direction: row
  justify-content: center
  color: $text-color

  h1
    color: $text-color

  .banner
    font-size: 1em

  .meta
    font-size: .8em
    line-height: 1
    font-style: italic

  .post-content
    width: 70%
    margin-right: auto
    margin-left: 10px
    line-height: 1.4

  .sidebar
    margin: 40px 20px 0 10px
    padding-left: 20px
    border: 1px solid rgba(100,100,100,0.5)
    border-radius: 5px
    height: 80vh

  .blog-title
    font-size: 1.2em
    margin-top: 25px
    margin-left: 5px

  .postlist
    list-style: none
    font-size: .8em
    padding: 0
    li
      margin: 0 15px


@media (max-width: 700px)
  .bloglayout
    flex-direction: column-reverse

    .post-content
      width: 90%
      margin: auto

    .sidebar
      height: auto
      margin-top: 10px

    .postlist
      display: flex
