section.writing
  background: #02B875
  color: white

  .home-cta
    color: #02B875

  .writing-strip
    display: flex
    flex-direction: column
    align-content: space-around
    justify-content: space-around
    align-items: center

    .row
      flex-wrap: wrap

    .col
      background: salmon
      height: 100px
      margin: 12px
      width: 100px
      border-radius: 50%
      box-shadow: 0 3px 10px rgba(0,0,0,0.2)
      transition: all 0.15s ease-in-out

      &:hover
        box-shadow: 0 5px 14px rgba(0,0,0,0.4)

@media (max-width: 640px)
  section.writing
    .writing-strip
      flex-direction: row
      margin-top: 20px
